table {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  
  td {
    border: 1px black solid;
    padding-left: 10px;
    font-weight: bold;
  }
}

#buttonGraph {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 47%;
}

.invisible {
  display: none;
}
